<form [formGroup]="settingsForm" (ngSubmit)="submitSettingsForm()" ngNativeValidate>
  <mat-card class="mode">
    <mat-card-header>
      <mat-card-title>Select Quiz Mode</mat-card-title>
    </mat-card-header>
    <mat-card-content class="quiz__answer">
      <div>
        <mat-slide-toggle formControlName="binary" class="mode__toggle" (change)="toggleBinary()">Binary</mat-slide-toggle>
      </div>
      <div>
        <mat-slide-toggle formControlName="multiple" class="mode__toggle" (change)="toggleMultiple()">Multiple choice questions</mat-slide-toggle>
      </div>
    </mat-card-content>
    <mat-card-actions class="quiz__actions" align="end">
      <button mat-button mat-raised-button color="primary" type="submit">Save</button>
    </mat-card-actions>
  </mat-card>



  <form [formGroup]="quizForm" (ngSubmit)="submitQuiz()">
    <div>
      <label>Question:</label>
      <input formControlName="question" placeholder="Enter your question" />
    </div>

    <div formArrayName="answers">
      <div *ngFor="let answer of answers.controls; let i = index" [formGroupName]="i">
        <input formControlName="text" placeholder="Answer {{ i + 1 }}" />

        <label>
          <input type="checkbox" formControlName="isCorrect" />
          Correct Answer
        </label>

        <button type="button" (click)="removeAnswer(i)">Remove</button>
      </div>
      <button type="button" (click)="addAnswer()">Add Answer</button>
    </div>

    <button type="submit">Submit</button>
  </form>
