<div class="container auth">
  <div class="row">
    <div class="col-12">
      <form class="auth__form" [formGroup]="registrationForm" (ngSubmit)="submitRegistrationForm()" novalidate>
      <mat-card class="auth__card">
        <mat-card-header>
          <mat-card-title class="mb-4">Registration</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="auth__form-field" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" type="text" required>
            <mat-error *ngIf="this.registrationForm.get('username')?.invalid">This field is required</mat-error>
          </mat-form-field>
          <mat-form-field class="auth__form-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="text" required>
            <mat-error *ngIf="this.registrationForm.get('email')?.hasError('required')">This field is required</mat-error>
            <mat-error *ngIf="this.registrationForm.get('email')?.hasError('email')">Not a valid email</mat-error>
          </mat-form-field>
          <mat-form-field class="auth__form-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
            <mat-error *ngIf="this.registrationForm.get('password')?.invalid">This field is required</mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-error *ngIf="this.serverErrorMessage" class="error-message auth__server-error-message">{{ this.serverErrorMessage }}</mat-error>
        <mat-card-actions class="d-flex justify-content-end">
          <a [routerLink]="['/login']" mat-button color="primary">BACK TO LOGIN</a>
          <button mat-raised-button [disabled]="this.loading" type="submit" color="primary" class="auth__submit">
            <mat-spinner *ngIf="this.loading" diameter="24" color="accent" class="auth__spinner"></mat-spinner>
            <span *ngIf="!this.loading">REGISTER</span>
          </button>
        </mat-card-actions>
      </mat-card>
      </form>
    </div>
  </div>
</div>

